@import url("catppuccin-mocha.css");

@define-color background alpha(black, 0.7);
@define-color hover alpha(@text, 0.2);
@define-color urgent @peach;
@define-color hover-urgent mix(@urgent, @text, 0.3);

* {
  all: initial;
  font-family: monospace;
  font-size: 12px;
  font-weight: bold;
  color: @text;
  border-radius: 15px;
  transition: all 0.1s ease-out;
  padding: 0px;
  margin: 0px;
}

button {
  background: transparent;
}

button.hover {
  background: @hover;
}

button.urgent {
  background: @urgent;
}

button.urgent:hover {
  background: @hover-urgent;
}


tooltip, menu {
  min-height: 30px;
  min-width: 30px;
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background: @background;
}

menu menuitem {
  margin: 2px;
  padding-left: 5px;
  padding-right: 5px;
  min-height: 20px;
  min-width: 30px;
}

menu menuitem:hover {
  background: @hover;
}

.modules-left {
  background: @background;
}

.modules-right {
  background: @background;
}

.modules-center {
  background: @background;
}


#custom-launcher,
#workspaces,
#mpris,
#clock,
#tray,
#backlight,
#pulseaudio,
#custom-vpn,
#custom-zapret,
#network,
#cpu,
#battery,
#custom-powermenu {
  min-height: 30px;
  min-width: 30px;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-launcher {
  padding: 0px;
  padding-right: 4px;
}

#custom-launcher:hover {
  background: @text;
  color: black;
  /* box-shadow:  15px 0px 10px -5px black; */
}

#workspaces {
  padding: 0px;
}

#workspaces button {
  min-width: 30px;
}

#workspaces button.active {
  background: @text;
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces button.active label {
  color: black;
}

#workspaces button.active:hover {
  /* background: mix(@text, black, 0.5); */
  background: @hover;
}

#workspaces button.active:hover label {
  color: @text;
}

#workspaces button.urgent {
  background: @peach;
}

#workspaces button.urgent label {
  color: black;
}

#workspaces button:hover {
  background: @hover;
}

#workspaces button.urgent:hover {
  background: @background;
}

#workspaces button.urgent:hover label {
  color: @text;
}


#mpris.spotify {
  color: #191313;
  background: #1ED760;
  /* box-shadow:  -15px 0px 10px -5px black; */
}

#mpris:hover {
  background: @hover;
}

#mpris.spotify:hover {
  color: #191313;
  background: mix(#1ED760, @text, 0.5);
}


#tray > widget:hover {
  background: @hover;
  /* padding-left: 20px; */
}

#tray .needs-attention {
  background: @urgent;
}

#tray .needs-attention:hover {
  background: @urgent-hover;
}


#pulseaudio.bluetooth {
  color: @blue;
}

#pulseaudio.muted {
  color: @red;
}

#pulseaudio:hover {
  background: @hover;
}


#custom-vpn.on {
  color: @green;
}

#custom-vpn.off {
  color: @red;
}

#custom-vpn:hover {
  background: @hover;
}


#custom-zapret.on {
  color: @green;
}

#custom-zapret.off {
  color: @red;
}

#custom-zapret:hover {
  background: @hover;
}


#network.disconnected {
  color: @red;
}


#battery {
  color: @green;
}

#battery.full {
  color: @green;
}

#battery.plugged {
  color: @blue;
}

#battery.charging {
  color: @blue;
}

#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @peach;
}

#battery.critical:not(.charging) {
  color: @red;
}

#custom-powermenu {
  padding: 0px;
  padding-right: 2px;
}

#custom-powermenu:hover {
  background: @text;
  color: black;
  /* box-shadow:  -15px 0px 10px -5px black; */
}
